* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
   height: 30vh;
   background-image: url(../img/imagen1.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
header nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0.5rem;
    transition: all 1s ease;
}
a:hover{
    
    background-color: rgb(255, 38, 0);
    border-radius: 10px;
    color: black;
}
h1 {
    width: 16.5rem;
    -webkit-text-stroke: 0.6px  rgb(0, 0, 0);
    color:  rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 3rem;
    margin-left: 2rem;
    text-shadow: 5px 2px 5px rgba(47,47,47,0.95);
    transition: all 6s ease;
}
h1:hover {
    box-shadow: rgb(8, 17, 27) 0px 20px 30px -10px;
    transform:scale(1.2)
}
span {
    color: rgb(233, 71, 71);
}
.section-1 {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0.5rem;
    transition: all 1s ease;
}
img {
    height: 30vh;
    width: 15rem;
    object-fit: cover;
    border: 1px solid rgb(179, 176, 176);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 5px;
    transition: all 1s ease;
}
img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform:scale(1.2)
}
.section-2{
    height: 45vh;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}
article div {
    display: flex;
    justify-content: space-between;
}
button {
    background-color: rgb(233, 71, 71);
    border: none;
    border-radius: 5px;
    color: aliceblue;
}
footer {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;  
}
h3  {
    align-self: center;
}
form {
    align-self: center;
}
fieldset {
    border-color: rgb(233, 71, 71);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
footer p {
    align-self: center;
}
footer a {
    text-decoration: none;
    color: rgb(233, 71, 71);
}


/* HASTA ACA ES EL DESKTOP */






/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

footer nav {
    display: flex;
    flex-direction: column;
}
h1 {
    -webkit-text-stroke: 0.6px rgb(10, 10, 10);
    color:  rgb(255, 255, 255);
    text-shadow: 5px 2px 9px rgba(255, 0, 242, 0.95);
}
.section-1 {
    margin-top: 5vh;
}
.section-2 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 120vh;
}
main {
    height: 120vh;
}
footer {
    margin-top: 15vh;
}

}


/* MOBILE */


@media only screen and (min-width: 320px) and (max-width: 767px) {

    header nav {
        display: flex;
        flex-direction: column;
    }
    h1 {
        -webkit-text-stroke: 0.6px rgb(10, 10, 10);
        color:  rgb(247, 242, 242);
        text-shadow: 5px 2px 9px rgba(255,0,0,0.95);
    }
    main {
        height: 132vh;
    }
    .section-1 {
        margin-top: 1vh;
    }
    .section-2 {
        flex-direction: column;
        align-items: center;
        margin-top: 80vh;
        margin: 0;
        height: 120vh;
    }
    footer {
        flex-direction: column;
        margin-top: 5vh;

    }


}
